@model Peintur.Models.Tableau

@{
    ViewBag.Title = "Supprimer un tableau";
}

<h2>
    @ViewBag.Title ?
</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        @Html.Partial("_Display", Model)

        <div class="form-group row">
            <label class="col-form-label col-sm-2"></label>
            <div class="col-sm-10">
                <input type="submit" value="Confirmer !" class="btn btn-default btn-danger" />
                @Html.ActionLink("Annuler", "Index", null, new { @class = "btn btn-outline-dark cancel" })
            </div>
        </div>
    </div>
}
