body {
    padding-top: 20px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.navbar {
    margin-bottom: 20px;
}

h2 {
    padding-bottom: 20px;
}

/* Override the default bootstrap behavior where horizontal description lists
   will truncate terms that are too long to fit in the left column
*/
.dl-horizontal dt {
    white-space: normal;
}

textarea {
    min-height: 7em;
}

.form-control[readonly] {
    background-color: transparent;
    opacity: 1;
}

.bg-pink {
    background-color: hotpink;
}

div.invalid-feedback {
    text-indent: 16.666667%;
}

/* Evite couleur sur label des boutons radio */
.form-check-input[type="radio"].is-valid ~ .form-check-label {
    color: #212529;
}

/* Mise en évidence du bouton radio sélectionné */
.form-check-input[type="radio"]:checked ~ .form-check-label {
    font-weight: bold;
}
