@model Peintur.Models.ParametreModel

<div class="form-group row">
    @Html.LabelFor(model => model.Nom, new { @class = "control-label col-md-2" })
    @Html.TextBoxFor(model => model.Nom, new { @class = "form-control col-md-3", @readonly = "" })
</div>

@if (Model.Complement != null)
{
    <div class="form-group row">
        @Html.LabelFor(model => model.Valeur, Model.Complement, new { @class = "control-label col-md-2" })
        @Html.TextBoxFor(model => model.Valeur, new { @class = "form-control col-md-2", @readonly = "" })
    </div>
}
