@model Peintur.Models.ParametreModel

@{
    ViewBag.Title = "Supprimer un·e " + Model.Type;
}

<h2>
    @ViewBag.Title
</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        @Html.Partial("/Views/Parametres/_Display.cshtml", Model)

        <div class="form-group row">
            <div class="col-md-10 offset-2">
                <input type="submit" value="Confirmer la suppression !" class="btn btn-default btn-danger" />
                @Html.ActionLink("Annuler", "Index", null, new { @class = "btn btn-outline-dark cancel" })
            </div>
        </div>
    </div>
}
