@model Peintur.Models.ParametreModel

@{
    ViewBag.Title = "Détail d'un·e " + Model.Type;
}

<h2>
    @ViewBag.Title
</h2>

<div class="form-horizontal">
    @Html.Partial("/Views/Parametres/_Display.cshtml", Model)

    <div class="form-group row">
        <div class="col-md-10 offset-2">
            @Html.ActionLink("Quitter", "Index", null, new { @class = "btn btn-outline-dark" })
        </div>
    </div>
</div>
