@model String

@{
    var fieldId = ViewData.TemplateInfo.GetFullHtmlFieldId("");
    var values = (SelectList)ViewData[fieldId + "s"];
    var index = 0;
}

@foreach (var v in values)
{
    index++;
    @Html.RadioButton("", v.Value, v.Selected, new { @id = @fieldId + "_" + @index })
    <label class="control-label" for="@(fieldId + "_" + index)">@v.Text</label>
    <span>&nbsp;&nbsp;</span>
}
